@import url('https://fonts.googleapis.com/css?family=Lobster');

article {
    margin-bottom:0.75rem;
}

#logo {
    height:15%;
    width:15%;
    margin: auto;
}

.logoname {
    font-family:'Lobster';
    font-size: 7em;
    color:white;
    text-align:center;
}

p {
    color:white;
    text-align:center;
}

#albumart {
    width:100%;
    height:100%;
    display:block;
    margin: 0 auto;
}

#buy {
    margin-bottom:5%;
}

.card-header {
    text-align:center;
    text-transform:uppercase; 
}

a:link {
    color:rgb(241, 90, 41);
}

a:visited {
    color: rgb(241, 90, 41);
}

a:hover {
    color: rgb(228, 56, 3);
    text-decoration:none;
}

a:active {
    color: rgb(241, 90, 41);
}

h2 {
    text-align:center;
    font-size:3em;
    font-weight:bold;
    color:white;
}

h3 {
    text-align:center;
    text-transform: uppercase;
    font-size:1em;
    margin-bottom:10%;
    color:white;
    background-color:rgb(241, 90, 41);
    border-radius: 25px;
    padding:5px;
}

.item1 {
    font-weight:bold;
}

ol li {
    list-style-type: none;
    counter-increment: list;
    position: relative;
}

ol li:after {
    content: counter(list) ".";
    position: absolute;
    left: -2.5em;
    width: 2em;
    text-align: right;
    color: rgb(241, 90, 41);
}

.col-12 {
    margin-top:10%;
}

ul  {
    list-style-type:none;
    text-align:center;
}

#grad {
    background: #F15A29; 
    background: -webkit-linear-gradient(black, #F15A29);
    background: -moz-linear-gradient(black, #F15A29);
    background: linear-gradient(black, #F15A29);
}

footer {
    width:100%;
    background-color:black;
    height:50px;
}



/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}



