/* ==============================================
   COLORS
   ============================================== */


/* ==============================================
   GLOBAL STYLES
   ============================================== */

   article {
    background-color:greenyellow;
    margin-bottom:0.75rem;
}

/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

#albumart {
    width:70%;
    height:70%;
    display:block;
    margin: 0 auto;
}

h2,h3 {
    text-align:center;
}

h3 {
    text-transform: uppercase;
}

.col-12 {
    margin-top:10%;
}

ul  {
    list-style-type:none;
    text-align:center;
}

